/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CABEÇALHO */
.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.estiloGeralBotoes{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    color: black;
    background-color: #d3d3d3;
}

.estiloGeralBotoes--filtrarHortifruti {
    background-color: tomato;
    color: white;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    padding: 0 10px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    background-color: rgb(17, 17, 20);
    color: white;
    border-radius: 0 5px 5px 0;
}

/* CONTEÚDO */
main{}

.containerListaProdutos {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.containerListaProdutos ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.containerListaProdutos ul li {
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out .1s;
    width: 20%;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
    width: 100%;
    max-width: 80px;
}

.containerListaProdutos ul li h3 {
    font-size: 1.5rem;
}

.containerListaProdutos ul li p {
    font-size: 1.5rem;
}
.containerListaProdutos ul li span {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

/* PREÇO TOTAL */
.containerPrecoTotal{
    text-align: center;
}
.containerPrecoTotal p{
    font-size: 1.4rem;
    font-weight: 600;
}
.containerPrecoTotal p span{}


h2{
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}