body{
    font-family: sans-serif;
    padding: 30px;
}
input, textarea, button{
    font-family: inherit;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    background-color: #001457;
    color: #fff;
    padding: 30px;
}

header h1{
    font-size: 2rem;
    font-weight: 600;
}

main form{
    text-align: right;
}
main form input, main form textarea, main form button{
    display: block;
    width: 100%;
    font-size: 0.9rem;
    outline: none;
}
main form input, main form textarea{
    border: none;
    padding: 13px;
    margin: 0 0 18px;
}
main form textarea{
    resize: none;
    height: 100px;
}
main form button{
    background-color: transparent;
    color: #fff;
    border: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.secaoTarefas{
    border-top: 2px solid rgb(255 255 255 / 20%);
    margin-top: 30px;
    padding-top: 30px;
}

.secaoTarefas__filtros{
    margin-bottom: 30px;
}
.secaoTarefas__filtros button{
    background-color: transparent;
    color: #fff;
    border: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.secaoTarefas ul li{
    display: flex;
    flex-flow: row;
    padding-bottom: 30px;
}
.secaoTarefas ul li span{
    height: 100%;
    margin-right: 20px;
    position: relative;
}
.secaoTarefas ul li span:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;

}
.secaoTarefas ul li h2, .secaoTarefas ul li p{
    width: 450px;
}
.secaoTarefas ul li h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}